@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  background: hsl(270, 20%, 96%);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.background-block {
  height: 570px;
  width: 375px;
  position: absolute;
  z-index: -1;
}
.dark-purple-block {
  background: linear-gradient(to top, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 0 0 250px 250px;
  left: -50%;
  top: 0;
}
.light-purple-block {
  background: hsl(270, 62%, 95%);
  border-radius: 200px 200px 0 0;
  height: 520px;
  right: -50%;
  bottom: 0px;
}
/* Chat app illustration block */
.chat-app__container {
  font-size: 12px;
  width: 295px;
  border: 10px solid #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 20px -10px #cccccc;
  margin-top: 50px;
}
/* Header */
.chat-app__header {
  background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  display: grid;
  grid-template-columns: 25px 30px 1fr 25px;
  grid-row-gap: 15px;
  align-items: center;
  border-radius: 20px 20px 5px 5px;
  padding: 0 0 15px 10px;
}
.chat-app__header__white-block {
  background: #ffffff;
  width: 175px;
  height: 20px;
  border-radius: 0 0 25px 25px;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-self: center;
}
.chat-app__header-icon {
  width: 25px;
}
.chat-app__header__avatar {
  width: 30px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.chat-app__header__text {
  padding-left: 15px;
}
.chat-app__header__author {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 5px 0;
}
.chat-app__header__availability {
  color: hsl(276, 100%, 81%);
  margin: 0;
}
/* Core */
.chat-app__core {
  background: hsl(270, 20%, 96%);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}
.chat-app__core__image-block {
  align-self: flex-end;
  margin: 5px 0;
}
.chat-app__core__image:nth-child(1),
.chat-app__core__image:nth-child(2) {
  margin-right: 5px;
}
.chat-app__core__image {
  width: 50px;
  border-radius: 10px;
}
.chat-app__core__blocks {
  max-width: 60%;
  border-radius: 10px 10px 10px 5px;
  margin: 5px 0;
  padding: 10px;
}
.chat-app__core__text-left {
  background: hsl(270, 62%, 95%);
  color: hsl(276, 55%, 52%);
}
.chat-app__core__text-right {
  background: #ffffff;
  color: hsl(271, 15%, 43%);
  border-radius: 10px 10px 5px 10px;
  align-self: flex-end;
}
.chat-app__core__prices {
  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  color: #ffffff;
  display: grid;
  grid-template-columns: 30px auto auto;
  align-items: center;
}
.prices__radio-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid hsl(289, 100%, 72%);
  border-radius: 50%;
}
.prices__price {
  font-size: 16px;
  font-weight: 700;
  justify-self: end;
}
.chat-app__core__input {
  background: #ffffff;
  color: hsl(206, 6%, 79%);
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  margin-bottom: 5px;
  padding: 7px 7px 7px 25px;
}
.chat-app__core__input-button {
  background: hsl(271, 36%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.chat-app__core__input-button__image {
  width: 20px;
  margin: auto;
}
/* Main content */
.main {
  text-align: center;
  padding: 30px;
}
.main__title {
  color: hsl(271, 36%, 24%);
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0;
}
.main__text {
  color: hsl(270, 7%, 64%);
  line-height: 1.7;
}
/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media all and (min-width: 500px) {
  .dark-purple-block {
    left: -20%;
  }
  .light-purple-block {
    right: -20%;
  }
}
@media all and (min-width: 728px) {
  .dark-purple-block {
    left: -8%;
  }
  .light-purple-block {
    right: -8%;
  }
}
@media all and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 15% 75px 1fr 2fr 75px 15%;
    grid-template-rows: 100px 1fr 100px;
  }
  .background-block {
    width: 575px;
    height: 770px;
    position: relative;
  }
  .dark-purple-block {
    border-radius: 0 0 500px 500px;
    left: 0;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    align-self: start;
    margin-left: -140%;
  }
  .light-purple-block {
    border-radius: 500px 500px 0 0;
    right: 0;
    grid-column: 5/ -1;
    grid-row: 1 / 4;
    align-self: end;
    margin-right: -30%;
  }
  /* Chat app illustration block */
  .chat-app__container {
    grid-column: 2 / 4;
    grid-row: 2;
    margin-top: 0;
  }
  /* Main content */
  .main {
    padding: 30px 0px 30px 95px;
    grid-column: 4 /6;
    grid-row: 2;
    text-align: left;
  }
  /* Attribution section */
  .attribution {
    grid-row: 3;
    grid-column: 1 / -1;
    align-self: end;
  }
}
@media all and (min-width: 1100px) {
  .container {
    grid-template-columns: 25% 75px 1fr 2fr 75px 1fr;
  }
  .dark-purple-block {
    margin-left: -30%;
  }
}
@media all and (min-width: 1600px) {
  .dark-purple-block {
    margin-left: -5%;
  }
}
